body {
  font-family: Merriweather, serif;
  font-weight: 600;
  min-height: 400px;
  background: url(./assets/cartaz-dizendo-salve-a-natureza-o-futuro-e-sua-alma-e-o-desenho-de-um-coração-vermelho-logo-abaixo.jpg);
  background-position: center bottom;
  background-repeat: repeat;
  background-size: 100vw;
}

.page-title {
  color: #ffeb3b;
  margin: 0 0 5px;
}

.page-subtitle {
  color: green;
  margin-top: 5px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

input {
  text-align: center;
  padding: 8px;
  margin-bottom: 1rem;
  width: 20%;
  border: 1px solid red;
  border-radius: 5px;
}

.converter {
  color: red;
  background: black;
  padding: 5px;
  margin-bottom: 1rem;
  border-radius: 5px;
}
